.card{
    margin-top:100px ;
    margin-bottom:100px;
    margin-left:500px ;
    margin-right:500px
}
.sizeimg
{
    width: 7%;
    height: 7%;
    margin:auto
}
.widcard {
    width: 50%;
    height: 7%;
    margin:auto
}
